{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'style/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>PyForum</title>
    </head>
    <body>
        <header>
            <img class="logo" src="{% static 'images/logo.png' %}" alt="logo">
            <nav>
                <ul class="nav__links">
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li><a href="#">Forums</a></li>
                    <li><a href="#">A propos</a></li>
                </ul>
            </nav>
            <div class="profile_section">
                {% if user.is_authenticated %}
                    <a class="sub" href="{% url 'logout' %}">Se déconnecter</a>
                {% else %}
                    <a class="sub" href="{% url 'login' %}">Se connecter</a>
                {% endif %}
            </div>
        </header>

        <div class="banner" style="background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url('{% static 'images/backgroung.jpg' %}');">
            <div class="banner__text">
                <h1>Bienvenue dans l'espace idéal pour échanger <br>Et partager vos idées !</h1>
                <p>Créez dès aujourd'hui votre forum de discussion <br>et restez au cœur de l'actualité en réunissant votre communauté.</p>
                <div>
                    {% if user.is_authenticated %}
                        <a class="sub" href="{% url 'logout' %}">Se déconnecter</a>
                    {% else %}
                        <a class="sub" href="{% url 'login' %}">Se connecter</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <main>
            <div>
                <h2 class="popular">Populaire</h2>
            </div>

            <section class="forum">
                <div>
                    <h3 class="subject">Un sujet</h3>
                    <h3 class="author">Auteur</h3>
                </div>
                <div>
                    <p class="description">Description</p>
                </div>
                <div>
                    <input type="button" class="like" value="5">
                    <input type="button" class="message" value="24">
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer-wrapper">
                <section class="footer-top">
                    <div class="footer-headline">
                        <h2>Abonnez-vous à notre newsletter</h2>
                        <p>Avoir des annonces sur notre site</p>
                    </div>
                    <div class="footer-subscribe">
                        <div>
                            <input type="email" spellcheck="false" placeholder="Votre adresse mail">
                            <button>Se connecter</button>
                        </div>
                    </div>
                </section>

                <div class="footer-columns">
                    <section>
                        <h3>Resources</h3>
                        <ul>
                            <li><a href="#" title="Support">Blog</a></li>
                            <li><a href="#" title="Support">Support</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Equipe</h3>
                        <ul>
                            <li><a href="#" title="About Us">A propos de nous</a></li>
                            <li><a href="#" title="Careers">Careers</a></li>
                        </ul>
                    </section>
                    <section>
                        <h3>Réseaux</h3>
                        <ul>
                            <li><a href="#" title="Privacy Policy">Facebook</a></li>
                            <li><a href="#" title="Terms of Service">Discord</a></li>
                        </ul>
                    </section>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="footer-bottom-wrapper">
                    <small>
                        © Arcel Bika, Inc. <span id="year"></span>, All rights reserved
                    </small>
                </div>
            </div>
        </footer>

        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
